<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

		<!-- JQuery -->
		<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	
		<!-- Segment Icons -->
		<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
		
		<!-- my doc -->
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		
		<!-- sweetAlert -->
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>