{% extends 'base.html' %}
{% block content %}
<!-- import section -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/countdown.css') }}">
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>

<!-- Date Picker -->
<script src="{{ url_for('static', filename='js/date-dropper.js') }}"></script>
<script src="{{ url_for('static', filename='js/date-dropper-ko.js') }}"></script>

<!-- Pageable -->
<script src="https://unpkg.com/pageable@latest/dist/pageable.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/pageable@latest/dist/pageable.min.css">



<!-- import section end -->

<div id="background" class="fixed">
	<video id="bg-video" muted autoplay loop>
		<source src="{{ url_for('static', filename='videos/background.mp4') }}">
		<strong>Your browser does not support the video tag.</strong>
	</video>
</div>

<div id="bg-overlay" class="overlay fixed"></div>

<div>
	<nav id="navbar" class="fixed">
		<a href="#">
			<img id="site-logo" class="nav-item" src="{{ url_for('static', filename='images/logo.png') }}">
		</a>
	
		<ul id="site-links" class="nav-item">
			<li class="site-link">
				<a href="#">마이페이지</a>
			</li>
			<li class="site-link">
				<a href="#">위시리스트</a>
			</li>
			<li class="site-link">
				<a href="#">로그인</a>
			</li>
		</ul>
	</nav>
</div>


<div id="wrap">
	
	<div id="fold-content" class="content" data-anchor="fold">
		<div id="gap-fold" class="gap"></div>
		<div class="site-text">
			<span id="headline">데이터 갱신까지 남은 시간</span><br>
			데이터 분석소는 정확한 정보 전달을 위해, 3시간마다 데이터를 갱신해요.<br>
			오늘은 총 8번의 갱신 중에 <span id="interval"></span>번 갱신했어요.
		</div>
		<div id="countdown">
			<ul>
				<li><span class="time" id="hours"></span>Hours</li>
				<li><span class="time" id="minutes"></span>Minutes</li>
				<li><span class="time" id="seconds"></span>Seconds</li>
			</ul>
		</div>

		<a href="#" id="btn-tutorial" class="btn-flip" 
		data-front="처음 방문하셨나요?" data-back="데이터 분석소 알아보기"></a>
	</div>


	<div id="expand-content" class="content" data-anchor="expand">
		<div id="gap-expand" class="gap"></div>
		
		<div class="site-text">
			<span id="headline">어느 날짜의 정보를 보고 싶으신가요?</span><br>
			현재는 <span id="curt-date"></span>일의 정보를 표시하고 있어요. 아래 글상자를 클릭하시면 기준일을 변경하실 수 있어요.
		</div>
	
		<input type="date" id="date-picker" data-dd-opt-custom-class="datepicker-style" />
		
		<main class="page-content">
			<div class="card">
				<div class="content">
				<h2 class="title">Mountain View</h2>
				<p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
				<button class="btn">View Trips</button>
				</div>
			</div>
			<div class="card">
				<div class="content">
				<h2 class="title">To The Beach</h2>
				<p class="copy">Plan your next beach trip with these fabulous destinations</p>
				<button class="btn">View Trips</button>
				</div>
			</div>
			<div class="card">
				<div class="content">
				<h2 class="title">Desert Destinations</h2>
				<p class="copy">It's the desert you've always dreamed of</p>
				<button class="btn">Book Now</button>
				</div>
			</div>
			<div class="card">
				<div class="content">
				<h2 class="title">Explore The Galaxy</h2>
				<p class="copy">Seriously, straight up, just blast off into outer space today</p>
				<button class="btn">Book Now</button>
			</div>
			</div>
		</main>

		<div id="gradient-overlay"></div>
	</div>

</div>



{% endblock %}