{% extends 'base.html' %}
{% block content %}
<!-- import section -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/countdown.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">

<!-- anyChart.js -->
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

<!-- Date Picker -->
<script src="{{ url_for('static', filename='js/date-dropper.js') }}"></script>
<script src="{{ url_for('static', filename='js/date-dropper-ko.js') }}"></script>

<!-- Pageable -->
<script src="https://unpkg.com/pageable@latest/dist/pageable.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/pageable@latest/dist/pageable.min.css">

<script>
	var data = "{{ value|safe }}";
	data = JSON.parse(data.replaceAll('\'', '"'))
</script>

<!-- my docs -->
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/card.js') }}"></script>


<!-- import section end -->

<div id="background" class="fixed">
	<video id="bg-video" muted autoplay loop>
		<source src="{{ url_for('static', filename='videos/background.mp4') }}">
		<strong>Your browser does not support the video tag.</strong>
	</video>
</div>

<div id="bg-overlay" class="overlay fixed"></div>

<div>
	<nav id="navbar" class="fixed">
		<a href="#">
			<img id="site-logo" class="nav-item" src="{{ url_for('static', filename='images/logo.png') }}">
		</a>
	
		<ul id="site-links" class="nav-item">
			<li class="site-link">
				<a href="#">마이페이지</a>
			</li>
			<li class="site-link">
				<a href="#">위시리스트</a>
			</li>
			<li class="site-link">
				<a href="#">로그인</a>
			</li>
		</ul>
	</nav>
</div>


<div id="wrap">
	
	<div id="fold-content" class="content" data-anchor="fold">
		<div id="gap-fold" class="gap"></div>
		<div class="site-text">
			<span class="headline">데이터 갱신까지 남은 시간</span><br>
			데이터 분석소는 정확한 정보 전달을 위해, 3시간마다 데이터를 갱신해요.<br>
			오늘은 총 8번의 갱신 중에 <span id="interval"></span>번 갱신했어요.
		</div>
		<div id="countdown">
			<ul>
				<li><span class="time" id="hours"></span>Hours</li>
				<li><span class="time" id="minutes"></span>Minutes</li>
				<li><span class="time" id="seconds"></span>Seconds</li>
			</ul>
		</div>

		<a href="#" id="btn-tutorial" class="btn-flip" 
		data-front="처음 방문하셨나요?" data-back="데이터 분석소 알아보기"></a>
	</div>


	<div class="content" data-anchor="expand">
		<div id="gap-expand"></div>

		<div id="expand-header">
			<div class="site-text">
				<span class="headline">어떤 정보를 보고 싶으신가요?</span><br>
				데이터 분석소에서는 정치, 경제, 사회 등 다양한 분야의 정보를 제공하고 있어요. <br>
				밑 배너를 클릭하면 각 주제에 맞는 데이터를 볼 수 있어요.
			</div>
			<div id="date-container">
				<span class="title-sm">데이터 기준일</span><br>
				<input type="date" id="date-picker" data-dd-opt-custom-class="datepicker-style" />
			</div>
			
		</div>

		<div id="topics" class="topic-cards">
			<div id="politics" class="topic-card">
				<div class="card-overlay"></div>
				<div class="card-body">
					<span class="card-title">정&nbsp;&nbsp;&nbsp;치</span><hr>
				</div>
				<img class="card-img" src="{{ url_for('static', filename='images/politics.jpg') }}" />
				
			</div>

			<div id="economy" class="topic-card">
				<div class="card-overlay"></div>
				<div class="card-body">
					<span class="card-title">경&nbsp;&nbsp;&nbsp;제</span><hr>
				</div>
				<img class="card-img" src="{{ url_for('static', filename='images/economy.jpg') }}" />
			</div>

			<div id="social" class="topic-card">
				<div class="card-overlay"></div>
				<div class="card-body">
					<span class="card-title">사&nbsp;&nbsp;&nbsp;회</span><hr>
				</div>
				<img class="card-img" src="{{ url_for('static', filename='images/social.jpg') }}" />
			</div>

			<div id="living" class="topic-card">
				<div class="card-overlay"></div>
				<div class="card-body">
					<span class="card-title">생활/문화</span><hr>
				</div>
				<img class="card-img" src="{{ url_for('static', filename='images/living.jpg') }}" />
			</div>

			<div id="science" class="topic-card">
				<div class="card-overlay"></div>
				<div class="card-body">
					<span class="card-title">IT/과학</span><hr>
				</div>
				<img class="card-img" src="{{ url_for('static', filename='images/science.jpg') }}" />
			</div>

			<div id="world" class="topic-card">
				<div class="card-overlay"></div>
				<div class="card-body">
					<span class="card-title">세&nbsp;&nbsp;&nbsp;계</span><hr>
				</div>
				<img class="card-img" src="{{ url_for('static', filename='images/world.jpg') }}" />
			</div>
		</div>
		
		<div id="expand-body">
			<div id="grid-wordcloud" class="grid">
			</div>
			<div id="grid-bar" class="grid">
			</div>
			<div id="grid-circle" class="grid">
			</div>
		</div>

		<div id="gradient-overlay"></div>
	</div>
</div>



{% endblock %}